{% load staticfiles %}
<!DOCTYPE html>
<html lang="en" ng-app="productApp" >
<head>
   <!--delete # from url
  <base href="/" >-->

  <meta charset="UTF-8">
  <title>Products</title>
  <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
  <link rel="stylesheet" type="text/css" href="{% static 'css/menu.css' %}"/>
  <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}" />
  <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.css">
  <link rel="stylesheet" type="text/css" href="{% static 'css/style-rs.css' %}" />

</head>



</head>
<body>


<div id='cssmenu'>
  <ul>
    <li ui-sref-active="active"><a ui-sref="products"><span>All Products</span></a></li>

    <li ui-sref-active="active"><a ui-sref="profile"><span>Profile</span></a></li>
  </ul>
</div>
<h3 class="user-h">logged in as: {{ user.get_username }}</h3>

<div ui-view></div>
 <!-- Load Js libs -->

  <!-- Angular Material requires Angular.js Libraries -->
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-animate.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-aria.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-messages.min.js"></script>

  <!-- Angular Material Library + range slide -->
  <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.js"></script>
  <script type="text/javascript" src="{% static 'lib/md-range-slider.js'%}"></script>


<script type="text/javascript" src="{% static 'lib/jquery-2.1.1.min.js'%}"></script>
<script type="text/javascript" src="{% static 'lib/angular-resource.min.js'%}"></script>
<script type="text/javascript" src="{% static 'lib/angular-route.min.js'%}"></script>
<script type="text/javascript" src="{% static 'lib/angular-ui-router.min.js'%}"></script>



<script type="text/javascript" src="{% static 'js/app.js'%}"></script>
 <!-- Services -->
<script type="text/javascript" src="{% static 'js/services.js'%}"></script>
<!-- Controllers -->
<script type="text/javascript" src="{% static 'js/controllers.js'%}"></script>
 <!-- Directives -->
<script type="text/javascript" src="{% static 'js/directive/nw-gallery.js'%}"></script>
<script type="text/javascript" src="{% static 'js/directive/nw-reviews.js'%}"></script>



<script type="text/javascript">
  // This allows you to access the current user id in your angular controllers.
  angular
      .module('productApp.services')
          .factory('AuthUser', function() {
            return {
              id: "{{ user.id|default:''}}"
            }
          });
</script>
</body>
</html>
