<div class="filter_menu">
123
</div>



<div class="products-list" id="products-target">
  <div class="cl1"  ng-repeat="product in products | orderBy: 'price'  ">
         <a ui-sref="product({ pr_id:product.id })">
         <div class="img-wrap big-image-list ">
            <img  width="300" height="auto"  ng-src="[[ product.images[0].image ]]" />
         </div></a><div class="product-title-bot">
            <div class="product-title"><a ui-sref="product({ pr_id:product.id })"> [[ product.name_product ]]</a>
            </div><div class="product-body"> [[ product.about_product ]]
           <!-- </div><div class="product-name"> [[ product.user ]]
            </div><div class="product-time"> [[ product.created_date | date:'medium' ]]-->
            </div><div class="product-price"> [[ product.price | currency]]
            </div>
        </div>

 </div>
</div>
