<div class="products" id="products-detail">
  <div class="product-container" >

    <div class=""><a ui-sref="product({ pr_id:product.id })"> [[ product.name_product ]]</a></div>
    <div class="event-body"> [[ product.about_product  ]]</div>
    <div class="event-name"> [[ product.user ]]</div>
    <div class="event-time"> [[ product.created_date | date:'medium' ]]</div>


<nw-gallery product="product" ></nw-gallery>
<hr>
<nw-reviews product="product" ></nw-reviews>



  </div>
</div>