


<div class="products-list" id="products-target">

  <div  class="filter_menu sliderdemoBasicUsage">

     <label>Search: <input ng-model="searchText" ></label>
     <div layout="column">
        <div style="margin:auto;">
          <h3>Filter by price</h3>
          <p>Selected range: [[lower|currency]]-[[upper|currency]]</p>
          <range-slider lower-value="lower" upper-value="upper" min-gap="10" step="10" min="min" max="max" ></range-slider>
          <input type="number" placeholder="From" ng-model="lower"/>
          <input type="number" placeholder="To" ng-model="upper"/>
          <br>
        </div>

    </div>


    </div><div class="cl1"  ng-repeat="product in products | filter: searchText
                                                           | filter:byRange('price', lower-value, upper-value)
                                                           | orderBy: 'product-time'   ">
         <a ui-sref="product({ pr_id:product.id })">
         <div class="img-wrap big-image-list ">
            <img  width="300" height="auto"  ng-src="[[ product.images[0].image ]]" />
         </div></a><div class="product-title-bot">
            <div class="product-title"><a ui-sref="product({ pr_id:product.id })"> [[ product.name_product ]]</a>
            </div><div class="product-body"> [[ product.about_product ]]
           <!-- </div><div class="product-name"> [[ product.user ]]
            </div><div class="product-time"> [[ product.created_date | date:'medium' ]]-->
            </div><div class="product-price"> [[ product.price | currency]]
            </div>
        </div>

  </div>
 </div>

